body {
    margin: 0;
    height: 100vh; 
    display: flex;
    align-items: center; 
    justify-content: flex-start;
    background-color: #f9f9f9; 
    font-family: 'Noto Sans KR', sans-serif; /* Use Noto Sans KR */
    font-weight: 600; /* SemiBold */
    font-size: 40px; /* Change this value to adjust font size */
}

.container {
    padding-left: 20px; 
    flex: 1; 
}


